
<div class="container mt-2">

  <div class="row">

    <div class="col-12" >
      <button class="btn btn-primary" (click)="newGoblin()"> Nova Ficha </button>
    </div>

    <div class="col-12 col-md-6" *ngFor="let goblin of goblins">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>

            <th colspan="6">
              Ficha de goblins
            </th>
          </tr>
          <tr>
            <th colspan="6">
              <span >Dados: </span>
              <span class="px-2 me-1 py-1 border rounded border-solid border-black" style="aspect-ratio: '1:1';" [title]="dado.value" *ngFor="let dado of goblin.dados">
                 {{dado.value}}
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th colspan="4">
              Nome: {{goblin.nome}}
            </th>
            <th title="Todo goblin começa no nível 1. Sempre que derrotar um oponente, você deverá rolar um dado. Se cair “6”, você ganhará 1 nível. Ganhando níveis, você aprenderá uma nova Técnica da sua ocupação. Se chegar ao nível 4, parabéns! Seu goblin fica tão feliz que explode de alegria" colspan="2">
              Nível:
              <select [value]="goblin?.nivel" (change)="changeGoblinValue($event, goblin)">
                <option value="1" >1</option>
                <option value="2" >2</option>
                <option value="3" >3</option>
                <option value="4" >4</option>
              </select>
            </th>

          </tr>
          <tr>
            <th colspan="3">
              Ocupação: {{goblin?.ocupacao}}
            </th>
            <th colspan="3">
              Descritor: {{goblin?.descritor}}
            </th>

          </tr>

          <tr>
            <th colspan="6">
              <span >Características: </span>
              <span class="px-2 me-1 py-1 border rounded border-solid border-black" [title]="caracteristica.descricao" *ngFor="let caracteristica of goblin.caracteristicas">
                 {{caracteristica.nome}}
              </span>
            </th>
          </tr>

          <tr>
            <th [title]="'Número de dados que você rolará para atacar'" colspan="2">
             <span >Combate:</span>

            </th>
            <td>
              {{goblin?.combate}}
            </td>

            <th  colspan="3" rowspan="6">
              <strong>Equipamento:</strong>
              <div class="mb-2" [title]="equipamento?.descricao || equipamento?.ataque " *ngFor="let equipamento of goblin.equipamentos;">
                <span *ngIf="equipamento?.durabilidade != undefined; else templateArma;">
                  {{equipamento?.nome}}: protege {{equipamento?.durabilidade}} hits
                  <span class="ms-1" *ngIf="equipamento?.especial && equipamento?.especial.length > 0">
                    <span [title]="especial?.descricao" *ngFor="let especial of equipamento.especial;" class="px-1 me-1 mb-1 border rounded border-solid border-black">
                      {{especial.nome}}
                   </span>
                  </span>
                </span>
                <ng-template #templateArma>
                  <span> {{equipamento?.nome}}: </span>
                  <span *ngIf="equipamento?.bonus">{{equipamento?.bonus}} </span>

                  <span class="ms-1" *ngIf="equipamento?.especial && equipamento?.especial.length > 0">
                    <span [title]="especial?.descricao" *ngFor="let especial of equipamento.especial;" class="px-1 py-1 me-1 mb-1 border rounded border-solid border-black">
                      {{especial.nome}}
                      <span *ngIf="especial?.quantidade != undefined">
                        <select [value]="especial?.quantidade">
                          <option value="1"> 1 </option>
                          <option value="2"> 2 </option>
                          <option value="3"> 3 </option>
                          <option value="4"> 4 </option>
                          <option value="5"> 5 </option>
                          <option value="6"> 6 </option>
                          <option value="7"> 7 </option>
                          <option value="8"> 8 </option>
                          <option value="9"> 9 </option>
                          <option value="10"> 10 </option>
                          <option value="11"> 11 </option>
                          <option value="12"> 12 </option>
                          <option value="13"> 13 </option>
                          <option value="14"> 14 </option>
                          <option value="15"> 15 </option>


                        </select> ({{especial?.quantidade}})
                      </span>
                   </span>
                  </span>
                </ng-template>

              </div>
            </th>

          </tr>
          <tr>
            <th title="Número de dados que você rolará quando fizer alguma ação fora de combate" colspan="2">
              Habilidade:

            </th>
            <td>
             {{goblin?.habilidade}}
            </td>
          </tr>
          <tr>
            <th title=" Número de dados que você rolará para saber se seu personagem conhece algo"  colspan="2">
              Noção:
            </th>
            <td>
             {{goblin?.nocao}}
            </td>

          </tr>
          <tr>
            <th title="Quantidade máxima de ferimentos que seu personagem pode ter antes de morrer" colspan="2">
              Vitalidade:
            </th>

            <td>
             {{goblin?.vitalidade}}
            </td>

          </tr>
          <tr>
            <th colspan="3" >
              Ferimentos:

              <select [value]="goblin?.ferimento">
                <option value="0" >0</option>
                <option value="1" >1</option>
                <option value="2" >2</option>
                <option value="3" >3</option>
                <option value="4" >4</option>
                <option value="5" >5</option>
                <option value="6" >6</option>
              </select>
            </th>

          </tr>

          <tr>
            <th colspan="6">
              habilidades
            </th>
          </tr>
          <tr *ngFor="let poder of goblin.poderes;">
            <td colspan="6" >
              <strong>{{poder.nome}}: </strong> {{poder.descricao}}
            </td>
          </tr>
          <tr *ngIf=" goblin.magias &&  goblin.magias.length > 0 ">
            <th colspan="6" >
              Magias: <span>{{goblin.magias.join(', ')}} </span>
            </th>
          </tr>

        </tbody>
      </table>
    </div>


  </div>


</div>
