table {
   width: 100%;
	z-index: 0;
}

.custom-tooltip {
	position: relative;
	cursor: pointer;
	// display: inline-block;
	.custom-tooltiptext {
		visibility: hidden;
		// width: 100%;
		background-color: #eee;
		text-align: left;
		border-radius: 6px;
		border: 1px solid #ccc;
		box-shadow: 5px 5px 10px #999;
		padding: 10px;
		position: absolute;
		z-index: 2;
		top: 125%;
		// left: 50%;
		// margin-left: -200px;
		opacity: 0;
		transition: opacity 0.3s;
		white-space: normal;
		font-family: Roboto, 'Helvetica Neue', sans-serif;
		// &::after {
		// 	content: "";
		// 	position: absolute;
		// 	bottom: 100%;
		// 	// left: 50%;
		// 	margin-left: -5px;
		// 	border-width: 5px;
		// 	border-style: solid;
		// 	border-color: #555 transparent transparent transparent;
		// }
	}
	&:focus {
		.custom-tooltiptext {
			visibility: visible;
			opacity: 1;
		}
	}
}