
<div class="container mt-2">

  <div class="row">

    <div class="col-12" >
      <button class="btn btn-primary" (click)="newGoblin()"> Nova Ficha </button>
    </div>

    <div class="col-6" *ngFor="let goblin of goblins">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>

            <th colspan="6">
              Ficha de goblins
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th colspan="4">
              Nome: {{goblin.nome}}
            </th>
            <th colspan="2">
              Nivel: {{goblin?.nivel}}
            </th>
          </tr>
          <tr>
            <th colspan="3">
              Ocupação: {{goblin?.ocupacao}}
            </th>
            <th colspan="3">
              Descritor: {{goblin?.descritor}}
            </th>

          </tr>

          <tr>
            <th colspan="6">
              Características: {{goblin?.caracteristica}}
            </th>
          </tr>

          <tr>
            <th colspan="3">
              Combate:
              <select [value]="goblin?.combate">
                <option value="1" >1</option>
                <option value="2" >2</option>
                <option value="3" >3</option>
                <option value="4" >4</option>
              </select>
            </th>

            <th  colspan="3">
              Equipamento
            </th>

          </tr>
          <tr>
            <th  colspan="3">
              Habilidade:
              <select [value]="goblin?.habilidade">
                <option value="1" >1</option>
                <option value="2" >2</option>
                <option value="3" >3</option>
                <option value="4" >4</option>
              </select>
            </th>

            <td colspan="3" rowspan="5">

            </td>

          </tr>
          <tr>
            <th  colspan="3">
              Noção: <select [value]="goblin?.nocao">
                <option value="1" >1</option>
                <option value="2" >2</option>
                <option value="3" >3</option>
                <option value="4" >4</option>
              </select>
            </th>

          </tr>
          <tr>
            <th colspan="3">
              Vitalidade:
              <select [value]="goblin?.vitalidade">
                <option value="1" >1</option>
                <option value="2" >2</option>
                <option value="3" >3</option>
                <option value="4" >4</option>
              </select>
            </th>

          </tr>
          <tr>
            <th colspan="3" rowspan="2">
              Ferimentos: {{goblin?.ferimento}}
            </th>

          </tr>
        </tbody>
      </table>
    </div>


  </div>


</div>
