
<div class="container mt-2">

  <div class="row">

    <div class="col-12" >
      <button class="btn btn-primary" (click)="newGoblin()"> Nova Ficha </button>
    </div>

    <div class="col-6" *ngFor="let goblin of goblins">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
        
            <th colspan="6">
              Ficha de goblins
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th colspan="4">
              Nome: {{goblin.name}}
            </th>
            <th colspan="2">
              Nivel: {{goblin?.nivel}}
            </th>
          </tr>
          <tr>
            <th colspan="6">
              Ocupação: {{goblin?.ocupacao}}
            </th>
           
          </tr>
          
          <tr>
            <th colspan="6">
              Características: {{goblin?.caracteristica}}
            </th>
          </tr>
      
          <tr>
            <th colspan="3">
              combate: {{goblin?.combate}}
            </th>
           
            <th  colspan="3">
              Equipamento
            </th>
           
          </tr>
          <tr>
            <th  colspan="3">
              Habilidade: {{goblin?.habilidade}}
            </th>
            
            <td colspan="3" rowspan="5">
              
            </td>
           
          </tr>
          <tr>
            <th  colspan="3">
              Noção: {{goblin?.nocao}}
            </th>
            
          </tr>
          <tr>
            <th  colspan="3">
              Vitalidade: {{goblin?.vitalidade}}
            </th>
           
          </tr>
          <tr>
            <th  colspan="3" rowspan="2">
              Ferimentos: {{goblin?.ferimento}}
            </th>
           
          </tr>
        </tbody>
      </table>
    </div>
   
  
  </div>
  
  
</div>